@page "/admin/users"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@layout Auth.Web.Components.Admin.AdminLayout
@namespace Auth.Web.Components.Admin.Users

<RadzenHeading Size="HeadingSize.H3"
               Text="Usuarios"
               Class="rz-mb-3" />

<RadzenRow>
    <RadzenColumn Size="12" SizeMd="10" SizeLg="10" OffsetMd="1" OffsetLg="1">
        <RadzenCard Class="rz-shadow-3 rz-p-3">
            <div class="rz-mb-3">
                <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem">
                    <RadzenTextBox @bind-Value="search"
                                   Placeholder="Buscar"
                                   Style="width: 300px"
                                   @oninput="@(args => Filter())" />
                </RadzenStack>
            </div>

            <RadzenDataGrid TItem="Application.Admin.Dtos.UserAdminDto" Data="@filteredUsers" AllowPaging="true" PageSize="10" AllowFiltering="true" AllowColumnResize="true"
                FilterMode="FilterMode.CheckBoxList" AllowSorting="true" ClearFilterText="Limpiar" ApplyFilterText="Aplicar" GridLines="DataGridGridLines.Vertical" Style="height: 60vh"
                AllowColumnPicking="false" ColumnsText="Columnas" ColumnsShowingText="columnas mostradas" AllColumnsText="Todas" EmptyText="Sin registros">
                <Columns>
                    <RadzenDataGridColumn TItem="Application.Admin.Dtos.UserAdminDto" Property="UserName" Title="Usuario" />
                    <RadzenDataGridColumn TItem="Application.Admin.Dtos.UserAdminDto" Property="Email" Title="Correo" />
                    <RadzenDataGridColumn TItem="Application.Admin.Dtos.UserAdminDto" Title="Roles">
                        <Template Context="u">@string.Join(", ", u.Roles)</Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Application.Admin.Dtos.UserAdminDto" Title="Áreas">
                        <Template Context="u">@string.Join(", ", u.Areas)</Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Application.Admin.Dtos.UserAdminDto" Context="u" Width="160px">
                        <Template Context="u">
                            <RadzenButton Text="Editar" Icon="manage_accounts" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light" Click="@(args => BeginEdit(u))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>

            @if (SelectedUser is not null)
            {
                <div class="rz-mt-3">
                    <RadzenCard>
                        <RadzenTemplateForm TItem="UserEditFormModel" Data="@userForm">
                            <RadzenFieldset Text="@($"Editar usuario {SelectedUser.UserName}")">
                                <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
                                    <RadzenStack Orientation="Orientation.Vertical" Gap="0.25rem">
                                        <RadzenLabel Text="Roles" Component="rolesDrop" />
                                        <RadzenDropDown Name="rolesDrop" Multiple="true" Data="@AllRoles" TextProperty="Name" ValueProperty="Name" @bind-Value="userForm.Roles" />
                                    </RadzenStack>
                                    <RadzenStack Orientation="Orientation.Vertical" Gap="0.25rem">
                                        <RadzenLabel Text="Áreas" Component="areasDrop" />
                                        <RadzenDropDown Name="areasDrop" Multiple="true" Data="@AllAreas" TextProperty="Name" ValueProperty="Id" @bind-Value="userForm.AreaIds" />
                                    </RadzenStack>
                                    <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem">
                                        <RadzenButton Text="Guardar" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Button" Click="@OnSubmitUser" />
                                        <RadzenButton Text="Cancelar" ButtonStyle="ButtonStyle.Light" Click="@(args => CancelEdit())" />
                                    </RadzenStack>
                                </RadzenStack>
                            </RadzenFieldset>
                        </RadzenTemplateForm>
                    </RadzenCard>
                </div>
            }
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>
